form{
    display: flex;
    flex-direction: column;
    
    
    align-items: center;
}
span{
    padding: 10px;
}
img{
    position: absolute;
    margin-top: -20%;
}
span{
    display: flex;
    flex-direction: column;
}