<div>
    <h3>Career Objective :</h3>
    <p>{{academicDetails.career}}</p>
</div>


<h3>Academic Qualifications :</h3>
<div  class="tablediv">
    <table>
        <thead>
            <tr>
                <th>S.NO</th>
                <th>Course</th>
                <th>Name Of The Institution</th>
                <th>YOP</th>
                <th>Percentage/Cgpa</th>
            </tr>
            <!-- <tr>
                <td>0</td>
                <td>academicDetails.schdep</td>
                <td>academicDetails.schname</td>
                <td>academicDetails.schper</td>
             </tr> -->
            <tr>
                <td>1</td>
               <td>{{academicDetails.schdep}}</td>
               <td>{{academicDetails.schname}}</td>
               <td>{{academicDetails.schyop}}</td>
               <td>{{academicDetails.schper}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>{{academicDetails.coldep}}</td>
                <td>{{academicDetails.colname}}</td>
                <td>{{academicDetails.colyop}}</td>
                <td>{{academicDetails.colper}}</td>
             </tr>
             <tr>
                <td>3</td>
                <td>{{academicDetails.gradep}}</td>
                <td>{{academicDetails.graname}}</td>
                <td>{{academicDetails.grayop}}</td>
                <td>{{academicDetails.graper}}</td>
             </tr>
        </thead>
    </table>

</div>

