<h1 *ngIf="!isvalid">{{ title }}</h1>
<hr />
<app-takeinputs *ngIf="!isvalid" (isval)="check($event)"></app-takeinputs>
<app-academicinputs
  *ngIf="isvalid && !isvalid2"
  (isval)="check2($event)"
></app-academicinputs>
<app-leftoverdetails *ngIf="isvalid2  && !isvalid3"  (isval)="check3($event)" ></app-leftoverdetails>
<app-address *ngIf="isvalid && isvalid2 && isvalid3 "> </app-address>
<!-- <app-academic *ngIf="isvalid && isvalid2"></app-academic> -->
<!-- <app-edudetails ></app-edudetails> -->
<app-edudetails *ngIf="isvalid && isvalid2 && isvalid3"></app-edudetails>
<app-leftoverui *ngIf="isvalid && isvalid2 && isvalid3"></app-leftoverui>



