<h3>Skills :</h3>
<ul>
    <li  *ngFor="let skill of skills">{{skill}}</li>
</ul>
<h3>Hobbies :</h3>
<ul>
    <li  *ngFor="let hobby of hobbies" >{{hobby}}</li>
</ul>
<h3>Strengths :</h3>
<ul>
    <li  *ngFor="let strength of strengths" >{{strength}}</li>
</ul>
<h3>Weekness :</h3>
<ul>
    <li  *ngFor="let weaknes of weekness" >{{weaknes}}</li>
</ul>



<div>
    <h3>Declaration :</h3>
    <p> I here by declare that the information provided above is true to the best of my knowledge and belief</p>
  </div>
<p>Place : </p>
  <p>Date : __/_/____</p>

